main {
    background-color: whitesmoke;
}

.contenido {

    padding: 1em;
}

.torneos_titulos {
    border-bottom: solid 2px lightblue;
    text-align: center;
    padding: 1em;

}

.ramas {
    display: flex;
    gap: 2em;
    border: solid black 1.5px;
    width: fit-content;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 1em;
    transition: transform 0.3s ease, color 0.3s ease;
}

.ramas:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px black;
    background-color: lightcyan;
}

.ramas li {
    list-style: none;
}

details {


    display: inline-block;
}